<!DOCTYPE html>
<html lang="en">

    <head>
        <title>operam etl</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>{{title}}</h1>
        <p>Welcome to {{title}}</p>
        <div id="result"></div>
        <!-- jQuery -->
        <script src="libs/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="libs/bootstrap.min.js"></script>
        </body>

</html>
